<div md-colors="{background: 'default-primary-500'}" flex layout-fill layout="row" layout-align="center center">
    <md-card flex="30">
        <md-card-title>
            <md-card-title-text>Register</md-card-title-text>
        </md-card-title>
        <md-card-content layout="column" flex="80">
            <md-input-container>
                <label>Email</label>
                <input type="text" ng-model="$ctrl.user.email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="$ctrl.user.password">
            </md-input-container>
            <md-input-container>
                <label>Repeat Password</label>
                <input type="password" ng-model="$ctrl.user.repeatPassword">
            </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="loginState">Back</md-button>
            <md-button ng-click="$ctrl.sendRegisterInfo()">Register</md-button>
        </md-card-actions>
    </md-card>
</div>