<md-card flex>
    <md-card-title>
        <md-card-title-text>Type a word</md-card-title-text>
        <md-subheader>
            {{$ctrl.counter}}/{{$ctrl.maxWords}}
        </md-subheader>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Your Word</label>
            <input type="text" ng-model="$ctrl.paper.content">
        </md-input-container>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.submitPaper()" class="md-raised md-primary" ng-disabled="$ctrl.isInputDisabled">
            Submit
        </md-button>
    </md-card-actions>
</md-card>