<div flex md-whiteframe="5" style="height: 500px;">
    <md-content flex>
        <md-list flex>
            <md-subheader>
                Chat
            </md-subheader>
            <md-list-item class="md-2-line" ng-repeat="message in $ctrl.messages">
                <div class="md-list-item-text" layout="column">
                    <h4>{{message.header}}</h4>
                    <p>{{message.content}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    <div layout="row">
        <md-input-container class="md-block" flex="90">
            <label>Write something...</label>
            <textarea rows="3" md-select-on-focus ng-model="$ctrl.currentMessage"
                      ng-disabled="!$ctrl.isGuesser && !$ctrl.isExplainer"></textarea>
        </md-input-container>
        <md-button class="md-fab md-primary" ng-click="$ctrl.sendMessage()">
            <md-icon>send</md-icon>
        </md-button>
    </div>
</div>